<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pawning someone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/toast/jquery.toast.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='christmas.css') }}">
</head>

<body>

<div id="wrap-welcome" class="wrap">
    <div class="ask-name bg-danger" id="ask-name-wrapper">
        <div id="ask-name-container" class="container">
            <h1 class="text-white main-title">Type your name</h1>
            <input type="text" id="ask-name-input" class="form-control" placeholder="Santa claus"/>
        </div>
    </div>
</div>

<div id="wrap-pawn" class="wrap">
    <!-- Faggot lights -->
    <ul class="lightrope">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <!-- Crazy mofucka santa -->
    <div class="window">
		<div class="santa">
			<div class="head">
				<div class="face">
					<div class="redhat">
						<div class="whitepart"></div>
						<div class="redpart"></div>
						<div class="hatball"></div>
					</div>
					<div class="eyes"></div>
					<div class="beard">
						<div class="nouse"></div>
						<div class="mouth"></div>
					</div>
				</div>
				<div class="ears"></div>
			</div>
			<div class="body"></div>
		</div>
	</div>

    <!-- Here comes the fun -->
	<div class="message">
		<h1>Ho ho ho!</h1>
        <p>Merry pawn to everyone!</p>
        <button id="pawn" class="pawnIt">Say Merry Christmas to someone</button>
	</div>
</div>
<!-- Audio -->
<audio class="hidden" id="plucky">
    <source src="/static/sounds/plucky.ogg" type="audio/ogg">
    <source src="/static/sounds/plucky.mp3" type="audio/mp3">
    Your browser does not support the audio element.
</audio>

<audio autoplay loop>
    <source src="/static/sounds/WhiteChristmas.mp3">
    <source src="/static/sounds/WhiteChristmas.ogg">
</audio>

<script type=text/javascript src="{{ url_for('static', filename='vendor/jquery.3.3.1.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/socket.io.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='cookies.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='cookies.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/snowstorm.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='vendor/toast/jquery.toast.min.js') }}"></script>
</body>

</html>